# General
*.log
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.nav
*.snm
*.vrb
*.fls
*.fdb_latexmk
*.synctex(busy)
*.synctex.gz(busy)
*.pdfsync

# Include specific files that you want to exclude
# e.g., specific chapters included in the main file
# /chapters/intro.aux

# Exclude the output PDF
*.pdf

# macOS specific
.DS_Store

# Windows thumbnail cache
Thumbs.db

# VS Code settings for those using LaTeX Workshop
.vscode/